*~
augeas.pc
augeas.spec
build/
gnulib/
config.h
config.h.in
stamp-h1
aclocal.m4
autom4te.cache/
Makefile
Makefile.in
config.sub
config.log
config.guess
config.status
configure
depcomp
install-sh
ltmain.sh
missing
ChangeLog
.deps/
.libs/
*.l[oa]
*.[oa]
*.loT
TAGS
libtool
ylwrap
src/datadir.h
src/parser.[ch]
src/lexer.[ch]
src/augtool
src/augparse
tests/fatest
tests/lens-*.sh
tests/test-api
tests/test-xpath
tests/test-load
tests/test-save
*.aux
*.dvi
*.log
*.pdf
man/*.1
doc/naturaldocs/output
doc/naturaldocs/conf/*/Data/*.nd
examples/fadot
