[project]
	description = A configuration editing tool and API
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Raphaël Pinson (raphink)
[access "refs/for/refs/*"]
	read = group user/Raphaël Pinson (raphink)
	push = group user/Raphaël Pinson (raphink)
	label-Code-Review = -2..+2 group user/Raphaël Pinson (raphink)
	label-Verified = -1..+1 group user/Raphaël Pinson (raphink)
	rebase = group user/Raphaël Pinson (raphink)
	removeReviewer = group user/Raphaël Pinson (raphink)
	submit = group user/Raphaël Pinson (raphink)
[access "refs/heads/*"]
	read = group user/Raphaël Pinson (raphink)
	create = group user/Raphaël Pinson (raphink)
	push = +force group user/Raphaël Pinson (raphink)
	pushMerge = group user/Raphaël Pinson (raphink)
[access "refs/tags/*"]
	push = +force group user/Raphaël Pinson (raphink)
	pushTag = group user/Raphaël Pinson (raphink)
	pushSignedTag = group user/Raphaël Pinson (raphink)
